<%= render 'layouts/project', type: current_user.type%>

<%= render 'layouts/change_requests', change_requests: @change_requests%>

<h1>Developers</h1>
<%= form_with url: developers_manager_project_path(@project), local: true do |form| %>
  <%= collection_select(:developer, :user_id, Developer.all, :id, :email) %>
  <%= form.submit 'Add Developer'%>
<% end %>
<%= render 'contributors', contributors: @developers, type: 'Developer' %>

<h1>Quality Assurers</h1>
<%= form_with url: qas_manager_project_path(@project), local: true do |form| %>
  <%= collection_select(:qa, :user_id, QualityAssurance.all, :id, :email) %>
  <%= form.submit 'Add Quality Assurer'%>
<% end %>
<%= render 'contributors', contributors: @qas, type: 'QualityAssurance' %>
