<%= render 'layouts/project', type: current_user.type%>



<h1>Developers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Links</th>
    </tr>
    <% @developers.each do |dev| %>
      <tr>
        <td><%= "#{dev.first_name} #{dev.last_name}" %></td>
        <td><%= dev.email %></td>
        <td>Remove</td>
      </tr>
    <% end %>
  </thead>
</table>

<h1>Quality Assurers</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Links</th>
    </tr>
    <% @qas.each do |qa| %>
      <tr>
        <td><%= "#{qa.first_name} #{qa.last_name}" %></td>
        <td><%= qa.email %></td>
        <td>Remove</td>
      </tr>
    <% end %>
  </thead>
</table>
