<div class="container bg-dark rounded text-white pb-2">
  <h1>Change Requests</h1>
  <% if change_requests.count > 0 %>
    <table class="table table-dark table-striped table-hover">
      <thead class="thead-dark">
        <th>Title</th>
        <th>Type</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Posted by</th>

        <% if current_user.Manager? %>
          <th>Developers</th>
        <% elsif current_user.Developer? %>

        <% elsif current_user.QualityAssurance? %>

        <% end %>

      </thead>
      <tbody>
        <% change_requests.each do |change| %>

        <tr>
          <% if current_user.Manager? %>
            <td><%= link_to change.title, manager_change_request_path(change), class: "text-white" %></td>
          <% elsif current_user.Developer? %>
            <td><%= link_to change.title, developer_change_request_path(change), class: "text-white" %></td>
          <% elsif current_user.QualityAssurance? %>
            <td><%= link_to change.title, quality_assurance_change_request_path(change), class: "text-white" %></td>
          <% end %>


          <% if change.type == 'Feature' %>
            <td class="text-success"><%= change.type %></td>
          <% else %>
            <td class="text-danger"><%= change.type %></td>
          <% end %>
          <td><%= change.deadline%></td>
          <% if change.status == 'resolved' || change.status == 'completed' %>
            <td class="text-success"><%= change.status%></td>
          <% else %>
            <td><%= change.status%></td>
          <% end %>

          <td><%= QualityAssurance.find(change.user_id).email%></td>

          <% if current_user.Manager? %>
            <td class="text-center"><%= change.developers.count %></td>

          <% elsif current_user.Developer? %>
            <% if change.developers.include? current_user %>
              <td>Assigned</td>
            <% else %>
              <td><%= link_to 'Assign', assign_developer_change_request_path(change),
                method: :post, data: {confirm: 'Are you sure?'}, class: "btn btn-success" %></td>
            <% end %>

          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <h3>No Requested Changes</h3>
  <% end %>
</div>
