<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'BUGZILLA', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>

      <!-- User signed in -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
        </li>

        <% if current_user.Manager? %>
          <li class="nav-item">
            <%= link_to 'Projects', manager_projects_path, class: 'nav-link' %>
          </li>
        <% elsif current_user.Developer? %>
          <li class="nav-item">
            <%= link_to 'Projects', developer_projects_path, class: 'nav-link' %>
          </li>
        <% elsif current_user.QualityAssurance? %>
          <li class="nav-item">
            <%= link_to 'Projects', quality_assurance_projects_path, class: 'nav-link' %>
          </li>
        <% end %>

      <!-- User not signed in -->
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>


    </ul>

  </div>
</nav>
