<div class="navbar">
  <p class="navbar">BUGZILLA</p>
  <ul class="navbar">
    <% if user_signed_in? %>
      <li class="navbar"><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
      <li class="navbar"><%= link_to 'EDIT PROFILE', edit_user_registration_path %>
      <li class="navbar"><%= link_to 'PROJECTS', projects_path %></li>
    <% else %>
      <li class="navbar"><%= link_to 'SIGN IN', new_user_session_path %></li>
      <li class="navbar"><%= link_to 'SIGNUP', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
