<p id="notice"><%= notice %></p>

<div class="container bg-dark rounded text-white py-1 mb-2">
  <h1 class="display-4">Projects</h1>
</div>
<hr>
<% if @projects.count > 0 %>
  <div class="container bg-dark rounded py-2">
  <table class="table table-dark table-striped table-borderless table-hover">

    <tbody>
      <% @projects.each do |project| %>
        <tr>

          <% if type == 'Manager' %>
            <td class="col-10"><%= link_to project.title, manager_project_path(project), class: 'text-white h3'%></td>
            <td class="pr-0"><%= link_to 'Edit', edit_manager_project_path(project), class: 'btn btn-info' %></td=>
            <td class="pl-0"><%= link_to 'Destroy', manager_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td=>
          <% elsif type == 'Developer' %>
            <td class="col-10"><%= link_to project.title, developer_project_path(project), class: 'text-white h3'%></td>
          <% elsif type == 'QualityAssurance' %>
            <td class="col-10"><%= link_to project.title, quality_assurance_project_path(project), class: 'text-white h3'%></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <h2>You don't have any projects</h2>
<% end %>
